@import "../scss/tools";
@import "../scss/colors";

.pointerContainer{
  @include flexBox();

  div{
    width: 2px;
    height: 150px;
    background-color: $purple-dark;


    &:nth-child(odd){
      margin-right: 50px;
      transform: rotate(40deg) !important;
    }
  
    &:nth-child(even){
      margin-left: 50px;
      transform: rotate(-40deg);
    }
  }

}